@require '../_styles/settings';

.sheet {
  width: 100%;
  background: $fill-base;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $v-spacing-md $h-spacing-md;
    hairline(bottom);
    .action {
      font-size: $font-size-subhead;
      &.cancel {
        color: $color-text-caption;  
      }
      &.confirm {
        color: $brand-primary;  
      }
    }
    .tip {
      flex: 1;
      .title {
        font-size: $font-size-caption;
        ellipsis: 1;
        + .message {
          margin-top: $v-spacing-sm;
        }
      }
      .message {
        font-size: $font-size-base;
        color: $color-text-caption;
      }
    }
  }
}