@require '../_styles/settings';

.popup {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: rgba(black, 40%);
  &.through {
    pointer-events: none;
  }
  &.transparent {
    background: rgba(white, 0);
  }
  > * {
    pointer-events: auto;
  }
}

.center {
  align-items: center;
  justify-content: center;
}

.top {
  align-items: flex-start;
  justify-content: center;
}

.right {
  align-items: center;
  justify-content: flex-end;
}

.bottom {
  align-items: flex-end;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: flex-start;
}
