@require '../_styles/settings';

$switchWidth = 51 * $hd;
$switchHeight = 31 * $hd;

.switch {
  appearance: none;
  position: relative;
  width: $switchWidth;
  height: $switchHeight;
  border: 1px solid #e5e5e5;
  outline: 0;
  border-radius: $switchHeight;
  box-sizing: border-box;
  background-color: #e5e5e5;
  transition: background-color .1s, border .1s;
  color: $switch-fill;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: ($switchWidth - 2);
    height: ($switchHeight - 2);
    border-radius: ($switchHeight - 2);
    background-color: #FDFDFD;
    transition: transform .35s cubic-bezier(0.45, 1, 0.4, 1);
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: ($switchHeight - 2);
    height: ($switchHeight - 2);
    border-radius: ($switchHeight - 2);
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: transform .35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  }
  &:checked {
    border-color: currentColor;
    background-color: currentColor;
    &:before {
      transform: scale(0);
    }
    &:after {
      transform: translateX(20px);
    }
  }
  &:disabled {
    disabled: true;
  }
}
