@require '../_styles/settings';

.choose {
  flex-center: inline;
  .group.horizontal & {
    display: inline-flex;
    &:not(:first-child) {
      margin-left: $h-spacing-md;
    }
  }
  .group.vertical & {
    display: flex;
    &:not(:first-child) {
      margin-top: $v-spacing-md;
    }
  }
  &.disabled {
    disabled: true;
  }
}

.input {
  display: none;
}

.box {
  position: relative;
  width: $icon-size-sm;
  height: $icon-size-sm;
  border: 1 * $hd solid currentColor;
  border-radius: 50%;
  box-sizing: border-box;
  flex-center: inline;
  color: #ccc;
  .square & {
    border-radius: 0;
  }
  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
  }
  .input:checked + & {
    color: $brand-primary;
    &.radio:after {
      width: ($icon-size-sm / 3);
      height: ($icon-size-sm / 3);
      border-radius: 50%;
      background-color: currentColor;
      .square & {
        border-radius: 0;
      }
    }
    &.checkbox {
      background-color: currentColor;
      &:after {
        top: 1.5 * $hd;
        width: 5 * $hd;
        height: 11 * $hd;
        border-style: solid;
        border-width: 0 1 * $hd 1 * $hd 0;
        border-color: white;
        transform: rotate(45deg);
      }
    }
  }
}

.message {
  flex: 1;
  margin-left: $h-spacing-sm;
}
