@require '../_styles/settings';

.choose {
  flex-center: inline;
  &:not(:first-child) {
    margin-left: $h-spacing-md;
  }
  &.disabled {
    disabled: true;
  }
}

.input {
  display: none;
}

.box {
  position: relative;
  width: 20 * $hd;
  height: 20 * $hd;
  border: 1 * $hd solid currentColor;
  border-radius: 50%;
  box-sizing: border-box;
  color: #ccc;
  .square & {
    border-radius: 0;
  }
  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
  }
  .input:checked + & {
    color: $brand-primary;
    &.radio:after, &.checkbox:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
    &.radio:after {
      width: 6 * $hd;
      height: 6 * $hd;
      border-radius: 50%;
      background-color: currentColor;
      .square & {
        border-radius: 0;
      }
    }
    &.checkbox {
      background-color: currentColor;
      &:after {
        top: -4 * $hd;
        width: 6 * $hd;
        height: 12 * $hd;
        border-style: solid;
        border-width: 0 1 * $hd 1 * $hd 0;
        border-color: white;
        transform: rotate(45deg);
        z-index: 1;
      }
    }
  }
}

.message {
  flex: 1;
  margin-left: $h-spacing-sm;
}
