@require '../_styles/settings';

.marquee {
  width: 100%;
  overflow: hidden;
  padding-left: 100%;
  margin-left: -100%;
  box-sizing: content-box;
}

.inner {
  display: inline-block;
  white-space: nowrap;
  box-sizing: content-box;
  z-index: 1;
}
