@require '../_styles/settings';

.xxs {
  font-size: $icon-size-xxs;
}

.xs {
  font-size: $icon-size-xs;
}

.sm {
  font-size: $icon-size-sm;
}

.md {
  font-size: $icon-size-md;
}

.lg {
  font-size: $icon-size-lg;
}
