@require '../_styles/settings';

.swipe-action {
  position: relative;
}

.content {
  position: relative;
  width: 100%;
}

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 2;
}

.actions, .actions > *, .button {
  flex-center: inline;
}

.actions > *, .button {
  height: 100%;
}

.button {
  color: white;
  padding: 0 $h-spacing-md;
  &.danger {
    background: $brand-error;
  }
  &.primary {
    background: $brand-primary;
  }
  &.cancel {
    background: gray;
  }
}
