@require '../_styles/settings';

.divider {
  flex-center: true;
}

.inner {
  flex-center: true;
  width: 60%;
  padding: $v-spacing-lg 0;
  &.full {
    width: 100%;
  }
}

.content {
  display: inline-block;
  text-align: center;
  font-size: $font-size-caption-sm;
  color: $color-text-caption;
  &:not(:empty) {
    margin: 0 $h-spacing-sm;
  }
}

.line {
  flex: 1;
  min-width: 20 * $hd;
  color: rgba($color-text-caption, 50%);
  .right &.right {
    flex: 0;
  }
  .left &.left {
    flex: 0;
  }
  &.solid {
    hairline(top, currentColor, , solid);
  }
  &.dashed {
    hairline(top, currentColor, , dashed);
  }
  &.dotted {
    hairline(top, currentColor, , dotted);
  }
}
