@require '../_styles/settings';

.activity-indicator {
  flex-center: inline;
}

.loading {
  font-size: 20 * $hd;
  .lg & {
    font-size: 32 * $hd;
  }
}

.tip {
  font-size: $font-size-base;
  margin-left: $h-spacing-md;
  color: $color-text-base;
  opacity: 0.4;
}
