@require '../_styles/settings';

.list {
  > {
    .title {
      width: 100%;
      box-sizing: border-box;
      padding: $v-spacing-lg $h-spacing-lg $v-spacing-md $h-spacing-lg;
      font-size: $font-size-base;
      color: $color-text-caption;
    }
    .content {
      position: relative;
      background-color: $fill-base;
      &:not(.borderless) {
        hairline(top bottom);
      }
    }
    .tip {
      padding: $v-spacing-md $h-spacing-lg $v-spacing-lg $h-spacing-lg;
      font-size: $font-size-base;
      color: $color-text-caption;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  padding-left: $h-spacing-lg;
  &:not(:last-child) > {
    .content {
      hairline(bottom);
    }
  }
  &.feedback:active {
    background-color: $fill-tap; 
  }
  > {
    .icon {
      margin-right: $h-spacing-lg;
      .iconfont {
        font-size: $icon-size-md;
      }  
    }
    .content {
      flex: 1;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      min-height: $list-item-height;
      padding: $v-spacing-md $h-spacing-lg $v-spacing-md 0;
      .message {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: $font-size-heading;
        .line {
          display: flex;
          align-items: center;
          .value {
            flex: 1;  
          }
          .desc {
            color: $color-text-caption;
            font-size: $font-size-subhead;
            margin-top: $v-spacing-sm;
            ellipsis: 1;
          }
        }
      }
      .extra {
        color: $color-text-caption;
        font-size: $font-size-caption;
      }
      .arrow {
        color: #c7c7c7;
        font-size: $icon-size-md;
      }
    }
  }
}
